<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
  </configSections>

  <system.diagnostics>
    <sources>
      <source propagateActivity="true" name="System.ServiceModel" switchValue="Предупреждение,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="Критическая,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="G:\Logs\app_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelTraceListener" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack">
        <filter type="" />
      </add>
      <add initializeData="G:\Logs\app_messages.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
    <trace autoflush="false" />
  </system.diagnostics>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true">
    </serviceHostingEnvironment>

    <diagnostics performanceCounters="All">
      <messageLogging logEntireMessage="true" logMalformedMessages="true"
        logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
      <endToEndTracing activityTracing="true" messageFlowTracing="true" />
    </diagnostics>
    <bindings>
      <basicHttpBinding>
        <binding name="TestBinding">
          <security mode="None">
            <transport proxyCredentialType="Basic" />
          </security>
        </binding>
      </basicHttpBinding>
      <ws2007HttpBinding>
        <binding name="UniversalBinding" openTimeout="00:10:00">
          <security mode="None">
            <message clientCredentialType="Windows" algorithmSuite="Basic256Sha256Rsa15" />
          </security>
        </binding>
      </ws2007HttpBinding>
    </bindings>
    <services>
      <service name="WcfServiceLibrary.ServiceHoaAccount">
        <endpoint address="" binding="ws2007HttpBinding" bindingConfiguration="UniversalBinding"
          name="HoaAdmin" contract="WcfServiceLibrary.IServiceHoaAccount" />
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
          name="conf" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7744/WcfServiceLibrary/ServiceHoaAccount/" />
            <add baseAddress="https://localhost:7774/WcfServiceLibrary/ServiceHoaAccount/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WcfServiceLibrary.ObjectsService">
        <endpoint address="" binding="ws2007HttpBinding" bindingConfiguration="UniversalBinding"
          name="ObjectServicePoint" contract="WcfServiceLibrary.IObjectsService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" name="conf"
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost:7774/WcfServiceLibrary/ObjectsService/" />
            <add baseAddress="http://localhost:7744/WcfServiceLibrary/ObjectsService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WcfServiceLibrary.StaticParamsService">
        <endpoint address="" binding="ws2007HttpBinding" bindingConfiguration="UniversalBinding"
          name="SPService" contract="WcfServiceLibrary.IStaticParamsService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" name="conf"
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7744/WcfServiceLibrary/StaticParamsService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WcfServiceLibrary.TariffService.TariffService">
        <endpoint address="" binding="ws2007HttpBinding" bindingConfiguration="UniversalBinding"
          name="TariffService" contract="WcfServiceLibrary.TariffService.ITariffService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" name="conf"
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7744/WcfServiceLibrary/TariffService/" />
            <add baseAddress="https://localhost:7774/WcfServiceLibrary/TariffService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WcfServiceLibrary.MetadataService.MetadataService">
        <endpoint address="" binding="ws2007HttpBinding" bindingConfiguration="UniversalBinding"
          name="MetadataService" contract="WcfServiceLibrary.MetadataService.IMetadataService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" name="conf"
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7744/WcfServiceLibrary/MetadataService/" />
            <add baseAddress="https://localhost:7774/WcfServiceLibrary/MetadataService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WcfServiceLibrary.ApartmentResidents.ApartmentResidents">
        <endpoint address="" binding="ws2007HttpBinding" bindingConfiguration="UniversalBinding"
          name="ApartmentResidents" contract="WcfServiceLibrary.ApartmentResidents.IApartmentResidents">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" name="conf"
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7744/WcfServiceLibrary/ApartmentResidents/" />
            <add baseAddress="https://localhost:7774/WcfServiceLibrary/ApartmentResidents/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WcfServiceLibrary.PersonalAccountService">
        <endpoint address="" binding="ws2007HttpBinding" bindingConfiguration="UniversalBinding"
          name="PersonalAccount" contract="WcfServiceLibrary.IPersonalAccountService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" name="conf"
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7744/WcfServiceLibrary/PersonalAccountService/" />
            <add baseAddress="https://localhost:7774/WcfServiceLibrary/PersonalAccountService/" />
          </baseAddresses>
          <timeouts closeTimeout="00:05:00" openTimeout="00:10:00" />
        </host>
      </service>
      <service name="WcfServiceLibrary.MDService.MDService">
        <endpoint address="" binding="ws2007HttpBinding" bindingConfiguration="UniversalBinding"
          name="MD" contract="WcfServiceLibrary.MDService.IMDService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" name="conf"
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7744/WcfServiceLibrary/MDService/" />
            <add baseAddress="https://localhost:7774/WcfServiceLibrary/MDService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WcfServiceLibrary.DPService.DynamicParamsService">
        <endpoint address="" binding="ws2007HttpBinding" bindingConfiguration="UniversalBinding"
          name="DymamicParamsEP" contract="WcfServiceLibrary.DPService.IDynamicParamsService">
          <identity>
            <dns value="" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" name="conf"
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost:7774/WcfServiceLibrary/DynamicParamsService/" />
            <add baseAddress="http://localhost:7744/WcfServiceLibrary/DynamicParamsService/" />
          </baseAddresses>
          <timeouts closeTimeout="00:05:00" openTimeout="00:10:00" />
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>