<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpContextBinding_IService1" allowCookies="true">
                    <readerQuotas maxStringContentLength="65536" maxArrayLength="65536"
                        maxBytesPerRead="65536" />
                    <security mode="None">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8301/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpContextBinding_IService1" contract="ServiceReference1.IService1"
                name="BasicHttpContextBinding_IService1" />
        </client>
    </system.serviceModel>
</configuration>